section, footer, aside, article, figure, figcaption {
    display: block;
}

.wrapper {
    width: 1000px;
    margin: auto;
    /* border: 0.5px solid #000000; */
    background-color: #ffffff;
}

header {
    height: 160px;
    background-image: url(assets/img/kuliner.jpg);
    font-family: "Playfair Display", serif;
    color: white;
    position: relative;
}

.layer {
    background-color: rgba(31, 29, 29, 0.63);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1 {
    height: 130px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

nav {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #f797ac;
}

nav, footer {
    clear: both;
    color: #ffffff;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    
    background-color: black;
}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

nav li {
    display: inline;
    margin-left: 40px;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a:hover {
    color: white;
    transition: 0.3s;
}

body {
    color: ;
    background-color: #ffe7ec;
    background-image: url();
    background-position: center;
    font-family: "Poppins", sans-serif;
    line-height: 1.4em;
    margin: 0px;
}

section.courses {
    float: left;
    width: 720px;
    border-right: 1px solid #EEEEEE;
}

article {
    clear: both;
    overflow: auto;
    width: 95%;
}

hgroup {
    margin-top: 40px;
}

figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
}

figcaption {
    font-size: 90%;
    text-align: left;
}

aside {
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;
}

aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #EEEEEE;
}

aside section a:hover {
    color: black;
    background-color: #EFEFEF;
}

a {
    color: crimson;
    text-decoration: none;
}

h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;
    font-weight: 600;
    color: crimson;
}

h3 {
    margin: 0px 0px 10px 0px;
    color: crimson;
    font-weight: normal;
}

article img {
    width: 300px;
}

p {
    font-size: 15px;
    text-align: justify;
    margin: 0;
}


